@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    
    font-weight: 400;
    font-style: normal;
}

#content-container {
    font-family: 'Montserrat';
    display:flex;
    justify-content: center;

}

.hamburger-menu-container {
    position: relative;
    
    /* background-color: pink; */
    height: 180;
    width: 60px;
    /* border-radius: 7px; */
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: rgb(92, 72, 72); */
    
    
    left: 22%;
    top: 70px;
    z-index: 3;
}

.hamburger-image {
    
    /* position: relative; */
    box-shadow: -1px 2px 7px rgb(92, 72, 72);
    background-color: pink;
    width: 60px;
    border-style:solid;
    border-radius: 5px;
    border-width: 1px;
}

.hamburger-image:hover {
    transform: scale(1.1);
    transition-duration: 120ms;
}

.hamburger-image.selected {
    background-color: rgb(182, 98, 98);
    transition-duration: 120ms;
}
/* 
#home-image.selected {
    background-color: rgb(182, 98, 98)
}

#menu-image.selected {
    background-color: rgb(182, 98, 98)
}

#contact-image.selected {
    background-color: rgb(182, 98, 98)
} */







#content {
    background-color: pink;
    box-shadow: 0px 5px 15px rgb(92, 72, 72);
    border-radius: 20px;
    padding: 3% 7% 3% 7%;
    margin: 50px calc(20% + 60px) 0 20%;
    min-width: 700px;
}




.name-container {
    justify-content: center;
    height: 200px;
    background-color: rgb(182, 98, 98);
    box-shadow: 0px 4px 15px rgb(92, 72, 72);
    border-radius: 20px;
    border: 2px solid rgb(92, 72, 72);
}

.name-content {
    font-size: 75px;
}

.ladle-image-right {
    position:relative;
    left: 330px;
    bottom:140px;
    width: 100px;
    transform: rotate(0deg);
}

.ladle-image-left {
    position:relative;
    right: 330px;
    bottom:140px;
    width: 100px;
    transform: scaleX(-1);
}
